%h1 Boston Derby Dames Teams Index

%table
  %tbody
    %tr
      - @teams.first.attributes.except(*TeamsController::IGNORED_TEAM_KEYS).keys.each do |key|
        %th= key.split("_").join(" ")
      - @teams.each do |member|
        %tr
          - member.attributes.except(*TeamsController::IGNORED_TEAM_KEYS).each do |attr|
            -if attr[0] == "name"
              %td= link_to(attr[1], team_path(member))
            -else
              %td= attr[1]
