- if @members
  :javascript
    db.members = new db.MembersCollection(#{raw @members})

- if @players
  :javascript
    db.players = new db.PlayersCollection(#{raw @players})

- if @teams
  :javascript
    db.teams = new db.TeamsCollection(#{raw @teams})

= render 'head'
.db
  .content
