- if @members
  :javascript
    db.members = new db.MembersCollection(
    #{raw @members.to_json(:include =>
      [
        :emergency_contacts,
        { :players => { :include => { :teams => { :only => [:name, :id]}}}}
      ])})

- if @players
  :javascript
    db.players = new db.PlayersCollection(#{raw @players.to_json})

- if @teams
  :javascript
    db.teams = new db.TeamsCollection(
      #{raw @teams.to_json(:include =>
        { :players => { :include => { :member => { :only => :name}}}})})

= render 'head'
#db
  #content
