- if @member.errors.any?
  #error_explanation
    .alert.alert-danger
      The form contains #{pluralize(@member.errors.count, "error")}.
    %ul
      - @member.errors.full_messages.each do |msg|
        %li= msg
