%h3 Members

%table#members
  %thead
    %tr
      {{# attributes}}
      {{>_members_index_header_row_partial}}
      {{/ attributes}}
  %tbody
    {{# members}}
    {{>_members_index_row_partial}}
    {{/ members}}
