%h3 Members

%table#members
  %thead
    %tr
      {{# headers}}
      {{>_members_index_header_row_partial}}
      {{/ headers}}
  %tbody
    {{# members}}
    {{>_members_index_row_partial}}
    {{/ members}}
