{{#member_info}}
%td.link{data: {id: '{{id}}'}} {{nickname}}
%td {{street_name}}
%td {{wftda_id_number}}
%td {{signed_league_bylaws}}
%td {{signed_wftda_waiver}}
%td {{signed_wftda_confidentiality}}
%td {{active}}
{{/member_info}}
