%h2 {{name}}

%table
  %tbody
    {{#member_info}}
    %tr
      {{#.}}
      %td.strong{width:'30%'} {{attribute}}
      %td {{value}}
      {{/.}}
    {{/member_info}}

{{#has_teams}}
%h2 Teams
%table
  %thead
    %tr
      %th Name
      %th Number
      %th Date Started
      %th Date Ended
      %th Active
  %tbody
    {{#teams}}
    %tr
      %td {{name}}
      %td {{number}}
      %td {{date_started}}
      %td {{date_ended}}
      %td {{active}}
    {{/teams}}
{{/has_teams}}
{{^has_teams}}
%h2 No Teams
{{/has_teams}}

{{#has_emergency_contacts}}
%h2 Emergency Contacts
{{#emergency_contacts}}
%table
  %tbody
    {{#contact_info}}
    %tr
      {{#.}}
      %td.strong{width:'30%'} {{attribute}}
      %td {{value}}
      {{/.}}
    {{/contact_info}}
{{/emergency_contacts}}
{{/has_emergency_contacts}}
{{^has_emergency_contacts}}
%h2 No Emergency Contacts
{{/has_emergency_contacts}}
