%td.template-cell {{name}}
%td.template-cell {{nickname}}
%td.template-cell {{wftda_id_number}}
%td.template-cell {{signed_league_bylaws}}
%td.template-cell {{signed_wftda_waiver}}
%td.template-cell {{signed_wftda_confidentiality}}
