.view
  .head.member
    .title {{nickname}}
    %button.btn.btn-primary.edit Edit
    .edit-table-buttons
      %button.btn.btn-primary.save.member.disabled Save
      %button.btn.btn-default.cancel Cancel

  %table.vertical.member.show
    %tbody
      {{#member_info}}
      %tr
        {{#.}}
        %td.strong {{attribute}}
        %td{data: {attribute: '{{model_attribute}}'}} {{value}}
        {{/.}}
      {{/member_info}}

  %table.vertical.member.edit
    %tbody
      {{#member_info}}
      %tr
        {{#.}}
        %td.strong {{attribute}}
        %td.input.form-group
          .border-div
            %input.cell.form-control{value: '{{value}}', data: {attribute: '{{model_attribute}}'}}
        {{/.}}
      {{/member_info}}

{{#has_player_profiles}}
.view
  .head.player
    .title Player Profiles
    %button.btn.btn-primary.edit Edit
    .edit-table-buttons
      %button.btn.btn-primary.save.player.disabled Save
      %button.btn.btn-default.cancel Cancel

  %table.player.show
    %thead
      %tr
        %th Team
        %th Jersey
        %th Number
        %th Date Started
        %th Date Ended
        %th Active
    %tbody
      {{#player_profiles}}
      {{#.}}
      %tr.data{data: {player_id: '{{id}}'}}
        %td.link{data: {id: '{{team_id}}'}} {{team_name}}
        %td{data: {attribute: 'name'}} {{name}}
        %td{data: {attribute: 'number'}} {{number}}
        %td{data: {attribute: 'date_started'}} {{date_started}}
        %td{data: {attribute: 'date_ended'}} {{date_ended}}
        %td{data: {attribute: 'active'}} {{active}}
      {{/.}}
      {{/player_profiles}}

  %table.player.edit
    %thead
      %tr
        %th Team
        %th Jersey
        %th Number
        %th Date Started
        %th Date Ended
        %th Active
    %tbody
      {{#player_profiles}}
      {{#.}}
      %tr.data{data: {player_id: '{{id}}'}}
        %td
          .border-div
            %div{data: {id: '{{team_id}}'}} {{team_name}}
        %td.input.form-group
          .border-div
            %input.cell.form-control{value: '{{name}}', data: {attribute: 'name'}}
        %td.input.form-group
          .border-div
            %input.cell.form-control{value: '{{number}}', data: {attribute: 'number'}}
        %td.input.form-group
          .border-div
            %input.cell.form-control{value: '{{date_started}}', data: {attribute: 'date_started'}}
        %td.input.form-group
          .border-div
            %input.cell.form-control{value: '{{date_ended}}', data: {attribute: 'date_ended'}}
        %td.input.form-group
          .border-div
            %select.cell{value: '{{active}}', data: {attribute: 'active'}}
              %option{value: ''}
              %option{value: 'true'} ✓
              %option{value: 'false'} ✗
      {{/.}}
      {{/player_profiles}}
{{/has_player_profiles}}
{{^has_player_profiles}}
%h2 No player Profiles
{{/has_player_profiles}}

{{#has_emergency_contacts}}
.view
  .head.emergency-contact
    .title Emergency Contacts
    %button.btn.btn-primary.edit Edit
    .edit-table-buttons
      %button.btn.btn-primary.save.emergency-contact.disabled Save
      %button.btn.btn-default.cancel Cancel
  {{#emergency_contacts}}

  %table.show.vertical.emergency-contact{data: {'emergency-contact-id' => '{{id}}'}}
    %tbody
      {{#emergency_contact_info}}
      %tr
        {{#.}}
        %td.strong{width:'30%'} {{attribute}}
        %td{data: {attribute: '{{model_attribute}}'}} {{value}}
        {{/.}}
      {{/emergency_contact_info}}

  %table.vertical.emergency-contact.edit{data: {'emergency-contact-id' => '{{id}}'}}
    %tbody
      {{#emergency_contact_info}}
      %tr
        {{#.}}
        %td.strong {{attribute}}
        %td.input.form-group
          .border-div
            %input.cell.form-control{value: '{{value}}', data: {attribute: '{{model_attribute}}'}}
        {{/.}}
      {{/emergency_contact_info}}
  {{/emergency_contacts}}
{{/has_emergency_contacts}}

{{^has_emergency_contacts}}
%h2 No Emergency Contacts
{{/has_emergency_contacts}}
