{{#member_info}}
%td
  %a{href: '/members/{{id}}'} {{name}}
%td {{nickname}}
%td {{wftda_id_number}}
%td {{signed_league_bylaws}}
%td {{signed_wftda_waiver}}
%td {{signed_wftda_confidentiality}}
%td {{active}}
{{/member_info}}
