.view
  .head.member
    %h2 {{name}}
    %h3.edit
      %a{href: '#', data: {bypass: true}} Edit
    %h3.save
      %a{href: '#', data: {bypass: true}} Save

  %table.show
    %tbody
      {{#member_info}}
      %tr
        {{#.}}
        %td.strong{width:'30%'} {{attribute}}
        %td {{value}}
        {{/.}}
      {{/member_info}}

  %table.edit
    %tbody
      {{#member_info}}
      %tr
        {{#.}}
        %td.strong{width:'30%'} {{attribute}}
        %td.input
          %input{value: '{{value}}', data: {attribute: '{{attribute}}'}}
        {{/.}}
      {{/member_info}}

{{#has_skater_profiles}}
.head.skater-profile
  %h2 Skater Profiles
  %h3.edit
    %a{href: '#'} Edit

%table
  %thead
    %tr
      %th Team
      %th Jersey
      %th Number
      %th Date Started
      %th Date Ended
      %th Active
  %tbody
    {{#skater_profiles}}
    {{#.}}
    %tr
      %td
        %a{href: "/teams/{{team_id}}"} {{team_name}}
      %td {{name}}
      %td {{number}}
      %td {{date_started}}
      %td {{date_ended}}
      %td {{active}}
    {{/.}}
    {{/skater_profiles}}
{{/has_skater_profiles}}
{{^has_skater_profiles}}
%h2 No Skater Profiles
{{/has_skater_profiles}}

{{#has_emergency_contacts}}
.head.emergency-contact
  %h2 Emergency Contacts
  %h3.edit
    %a{href: '#'} Edit
{{#emergency_contacts}}
%table
  %tbody
    {{#contact_info}}
    %tr
      {{#.}}
      %td.strong{width:'30%'} {{attribute}}
      %td {{value}}
      {{/.}}
    {{/contact_info}}
{{/emergency_contacts}}
{{/has_emergency_contacts}}

{{^has_emergency_contacts}}
%h2 No Emergency Contacts
{{/has_emergency_contacts}}
