%h2 {{name}}

%table
  %tbody
    {{#member_info}}
    %tr
      {{#.}}
      %td.strong{width:'30%'} {{attribute}}
      %td {{value}}
      {{/.}}
    {{/member_info}}

{{#has_skater_profiles}}
%h2 Skater Profiles
%table
  %thead
    %tr
      %th Team
      %th Jersey
      %th Number
      %th Date Started
      %th Date Ended
      %th Active
  %tbody
    {{#skater_profiles}}
    {{#.}}
    %tr
      %td
        %a{href: "/teams/{{team_id}}"} {{team_name}}
      %td {{name}}
      %td {{number}}
      %td {{date_started}}
      %td {{date_ended}}
      %td {{active}}
    {{/.}}
    {{/skater_profiles}}
{{/has_skater_profiles}}
{{^has_skater_profiles}}
%h2 No Skater Profiles
{{/has_skater_profiles}}

{{#has_emergency_contacts}}
%h2 Emergency Contacts
{{#emergency_contacts}}
%table
  %tbody
    {{#contact_info}}
    %tr
      {{#.}}
      %td.strong{width:'30%'} {{attribute}}
      %td {{value}}
      {{/.}}
    {{/contact_info}}
{{/emergency_contacts}}
{{/has_emergency_contacts}}
{{^has_emergency_contacts}}
%h2 No Emergency Contacts
{{/has_emergency_contacts}}
