%td
  %a{href: '/members/{{id}}'} {{name}}
%td {{nickname}}
%td {{wftda_id_number}}
%td{class: '{{signed_league_bylaws}}'}
%td{class: '{{signed_wftda_waiver}}'}
%td{class: '{{signed_wftda_confidentiality}}'}
