.view
  .head.member
    .title {{nickname}}
    %button.btn.btn-primary.edit Edit
    .edit-table-buttons
      %button.btn.btn-primary.save.disabled Save
      %button.btn.btn-default.cancel Cancel

  %table.vertical.member.show
    %tbody
      {{#member_info}}
      %tr
        {{#.}}
        %td.strong {{attribute}}
        %td{data: {attribute: '{{model_attribute}}'}} {{value}}
        {{/.}}
      {{/member_info}}

  %table.vertical.member.edit
    %tbody
      {{#member_info}}
      %tr
        {{#.}}
        %td.strong {{attribute}}
        %td.input.form-group
          .border-div
            %input.form-control{value: '{{value}}', data: {attribute: '{{model_attribute}}'}}
        {{/.}}
      {{/member_info}}

{{#has_player_profiles}}
.view
  .head.player
    .title Player Profiles
    %button.btn.btn-primary.edit Edit
    .edit-table-buttons
      %button.btn.btn-primary.save.disabled Save
      %button.btn.btn-default.cancel Cancel

  %table.player.show
    %thead
      %tr
        %th Team
        %th Jersey
        %th Number
        %th Date Started
        %th Date Ended
        %th Active
    %tbody
      {{#player_profiles}}
      {{#.}}
      %tr
        %td.link{data: {id: '{{team_id}}'}} {{team_name}}
        %td {{name}}
        %td {{number}}
        %td {{date_started}}
        %td {{date_ended}}
        %td {{active}}
      {{/.}}
      {{/player_profiles}}

  %table.player.edit
    %thead
      %tr
        %th Team
        %th Jersey
        %th Number
        %th Date Started
        %th Date Ended
        %th Active
    %tbody
      {{#player_profiles}}
      {{#.}}
      %tr
        %td.link{data: {id: '{{team_id}}'}} {{team_name}}
        %td.input
          .border-div
            %input.form-control{value: '{{name}}', data: {attribute: 'name'}}
        %td.input
          .border-div
            %input.form-control{value: '{{number}}', data: {attribute: 'number'}}
        %td.input
          .border-div
            %input.form-control{value: '{{date_started}}', data: {attribute: 'date_started'}}
        %td.input
          .border-div
            %input.form-control{value: '{{date_ended}}', data: {attribute: 'date_ended'}}
        %td.input
          .border-div
            %input.form-control{value: '{{active}}', data: {attribute: 'active'}}
      {{/.}}
      {{/player_profiles}}
{{/has_player_profiles}}
{{^has_player_profiles}}
%h2 No player Profiles
{{/has_player_profiles}}

{{#has_emergency_contacts}}
.view
  .head.emergency-contact
    .title Emergency Contacts
    %button.btn.btn-primary.edit Edit
  {{#emergency_contacts}}
  %table.vertical.emergency-contact
    %tbody
      {{#contact_info}}
      %tr
        {{#.}}
        %td.strong{width:'30%'} {{attribute}}
        %td {{value}}
        {{/.}}
      {{/contact_info}}
  {{/emergency_contacts}}
{{/has_emergency_contacts}}

{{^has_emergency_contacts}}
%h2 No Emergency Contacts
{{/has_emergency_contacts}}
