%h2 {{name}}

%h3 Current Players

%table
  %thead
    %th Name
    %th Number
    %th Date Joined
    %th Active
    %th Member Name
  %tbody
    {{#players}}
    {{#current}}
    %tr
      %td {{name}}
      %td {{number}}
      %td {{started}}
      %td {{active}}
      %td.link{data: {id: '{{member_id}}'}} {{member_name}}
    {{/current}}
    {{/players}}

%h3 Previous Players

%table
  %thead
    %th Name
    %th Number
    %th Date Joined
    %th Date Left
    %th Member Name
  %tbody
    {{#players}}
    {{#previous}}
    %tr
      %td {{name}}
      %td {{number}}
      %td {{started}}
      %td {{ended}}
      %td
        %a{href: "/members/{{member_id}}"} {{member_name}}
    {{/previous}}
    {{/players}}
