%h3 Teams

%table#teams
  %thead
    %tr
      {{# teams}}
      %th
        %a{ href: '{{url}}' } {{name}}
      {{/ teams}}
  %tbody
    {{# body_rows}}
    %tr
      {{# .}}
      {{# .}}
      {{{.}}}
      {{/ .}}
      {{/ .}}
    {{/ body_rows}}
