#db {
  width: 800px;
  margin: 0 auto;
}

#navbar {
  text-align: center;
  .nav {
    display: inline;
    padding: 20px;
  }
}

#member_index {
  td {
    white-space: nowrap;
  }
}

a{
  text-decoration: none;
  color: blue;
}

h1 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 35px;
}

table {
  border-collapse: collapse;
  margin-top: 16px;
  width: 100%;
  tr {
    &:nth-child(odd) {
      background-color: #EEE;
    }
  }
  th {
    border: 1px solid black;
    background-color: #CCC;
  }
  td {
    padding: 0;
    border: 1px solid black;
    text-align: center;
    &:nth-child(1) {
      text-align: left;
    }
    &.strong {
      font-weight: bold;
    }
  }
}
