// Colors

$white:                      hsl(0, 0%, 100%);
$ultra-light-grey:           hsla(0, 0%, 0%, .05);
$shadow-grey:                hsla(0, 0%, 0%, .14);
$light-grey:                 hsl(0, 0%, 93%);
$grey:                       hsl(0, 0%, 80%);
$dark-grey:                  hsl(0, 0%, 60%);
$black:                      hsl(0, 0%, 0%);

$button-blue:                hsl(233, 53%, 46%);

$table-link-blue:            hsl(208, 98%, 43%);
$table-link-hover-blue:      hsla(207, 75%, 66%, .5);
$table-row-hover-blue:       hsla(207, 75%, 66%, .25);

$input-glow-blue:            hsla(207, 75%, 66%, .6);
$input-error-background-red: hsla(2, 64%, 58%, .12);
$input-error-outline-red:    hsl(2, 64%, 58%);

$member-table-attr-focus:    hsla(207, 75%, 66%, .5);

// Mixins

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
}

@mixin prefix2($property, $value1, $value2, $prefixes: ()) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value1, $value2;
  }

  #{$property}: $value1, $value2;
}

@mixin border-box {
  width: 100%;
  box-sizing: border-box;
  @include prefix(box-sizing, border-box, ('webkit', 'moz'));
}

// Single Page App Elements

.db {
  margin: 0 auto;
  width: 800px;
}

.container .navbar {
  margin: 0 auto;
  padding: 0;
  width: 800px;

  .nav {
    display: inline;
    padding-right: 20px;
  }
}

// Sitewide Elements

html {
  overflow-y: scroll;
}

h1 {
  font-size: 35px;
  margin-bottom: 12px;
  text-align: center;
}

table {
  border: 1px solid $black;
  border-collapse: collapse;
  margin-top: 16px;
  text-align: center;
  width: 100%;

  th {
    font-size: 12px;
    background-color: $grey;
    text-align: center;
  }

  tr {
    border-left: 1px solid $black;
    border-right: 1px solid $black;

    &:nth-child(odd) {
      background-color: $light-grey;
    }

    &:hover {
      background-color: $table-row-hover-blue;
    }

    &:first-child {
      &:hover td {
        border-bottom: 1px solid $table-row-hover-blue;
      }
    }

    &:last-child {
      &:hover td {
        border-top: 1px solid $table-row-hover-blue;
      }

      &:not(:first-child) {
        border-top: 1px solid $light-grey;
      }
    }

    &:only-child {
      &:hover td {
        border: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-bottom: 1px solid $light-grey;
      border-top: 1px solid $light-grey;
      &:hover td {
        border-top: 1px solid $table-row-hover-blue;
        border-bottom: 1px solid $table-row-hover-blue;
      }
    }
  }

  td {
    padding: 1px 0 1px 6px;

    &.strong {
      font-weight: bold;
    }

    &.link {
      color: $table-link-blue;
      cursor: pointer;

      &:hover {
        background-color: $table-link-hover-blue;
      }
    }
  }

  &.vertical {
    tr {
      &:first-child {
        td {
          border-top: 1px solid black;
        }
      }
    }

    td {
      text-align: left;

      &:first-child {
        background-color: $ultra-light-grey;
        border-top: 1px solid #E2E2E2;
        border-left: 1px solid black;
        width: 31%;
      }
    }
  }
}

textarea {
  &:focus {
    outline: 0;
  }
}

.head {
  button {
    border-radius: 4px;
    display: inline-block;
    float: right;
    line-height: 12px;
    margin-top: -14px;

    &.btn-default {
      border: 1px solid $dark-grey;

      &:hover {
        background-color: $dark-grey;
      }
    }

    &.btn-primary {
      border: 1px solid $button-blue;
    }

    &:hover {
      border-color: $black;
    }
  }

  .title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: -16px;
  }

  .edit-table-buttons {
    display: none;

    .cancel {
      margin-right: 10px;
    }
  }
}

// Specific Pages

.member-index {
  table {
    thead {
      th {
        width: 10.6%;

        &:first-child {
          padding-left: 6px;
          text-align: left;
          width: 22%;
        }
        &:nth-child(2) {
          padding-left: 6px;
          text-align: left;
          width: 25%;
        }
      }
    }

    td {
      padding: 0;
      white-space: nowrap;

      &:nth-child(-n+2) { // first 2
        padding-left: 6px;
        text-align: left;
      }
    }
  }
}

.member-view table {
  margin-bottom: 28px;

  input, textarea {
    @include border-box;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 1px 5px;

    &.error {
      background-color: $input-error-background-red;
      outline: 1px solid $input-error-outline-red;
      outline-offset: -1px;
    }
  }

  select {
    @include border-box;
    background-color: $white;
    border: 0;
    border-radius: 0;
    height: 26px;
    padding: 0;
  }

  &.player {
    td, th {
      &:first-child {
        padding-left: 6px;
        text-align: left;
        width: 23%;
      }

      &:nth-child(2) {
        padding-left: 6px;
        text-align: left;
        width: 33%;
      }

      &:nth-child(3) {
        width: 8%;
      }

      &:nth-child(4) {
        width: 12%;
      }

      &:nth-child(5) {
        width: 12%;
      }

      &:nth-child(6) {
        width: 6%;
      }
    }
  }

  &.emergency-contact {
    text-align: left;

    td:first-child {
      background-color: $ultra-light-grey;
    }
  }

  &.edit {
    display: none;

    .border-div {
      border-left: 1px solid $light-grey;
    }

    tr {
      &:hover {
        .border-div {
          border-left-color: $table-row-hover-blue;
        }
      }

      &.focus {
        border: 1px solid black;
        background-color: $member-table-attr-focus;

        &:first-child {
          td {
            border-top: 1px solid $black;
          }
        }

        td {
          border-top: 1px solid $member-table-attr-focus;
          border-bottom: 1px solid $member-table-attr-focus;
        }

        td:first-child {
          border-right: 1px solid $member-table-attr-focus;
        }

        .border-div {
          @include prefix2(box-shadow, inset 0 1px 1px $shadow-grey, 0 0 8px $input-glow-blue, ('webkit'));
          border-color: $table-row-hover-blue;
          border-left: 0;
          outline: 1px solid $input-glow-blue;
          outline-offset: -1px;
        }
      }
    }

    td {
      &:nth-child(2) {
        padding: 0;
      }

      &.input {
        background-color: $white;
      }
    }
  }
}
