a{
  text-decoration: none;
  color: blue;
}

table {
  border-collapse: collapse;
  tr {
    &:nth-child(odd) {
      background-color: #EEE;
    }
  }
  th {
    padding: 4px;
    border: 1px solid black;
    background-color: #CCC;
  }
  td {
    border: 1px solid black;
    text-align: center;
    &:nth-child(1) {
      text-align: left;
    }
    &.strong {
      font-weight: bold;
    }
  }
}

#member_collection {
  margin: 0 auto;
  h2 {
    text-align: center;
    font-size: 35px;
    line-height: 10px;
  }
}

#member_view {
  width: 800px;
  margin: 0 auto;
  h2 {
    margin-bottom: 0px;
  }
  table {
    margin-top: 16px;
  }
}

#team_view {
  width: 800px;
  margin: 0 auto;
  h2 {
    margin-bottom: 0px;
  }
  table {
    margin-top: 16px;
  }
}
