// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#members {
  border-collapse: collapse;
  th {
    border: 1px solid black;
    background-color: #CCC;
  }
  td {
    border: 1px solid black;
    text-align: center;
    &:nth-child(1) {
      text-align: left;
    }
  }
  tr {
    &:nth-child(odd) {
      background-color: #EEE;
    }
  }
}
