#index {
  #member_table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    td, th{
      border: 1px solid #bbb;
    }
    td {
      &.flag {
        &.warning {
          background-color: red;
        }
        &.error {
          background-color: yellow;
        }
      }
    }
    th {
      background-color: #999;
    }
    tr:nth-child(odd) {
      background-color: #ddd;
    }
  }
}
