table#teams {
  border-collapse: collapse;
  th {
    border: 1px solid black;
    background-color: #CCC;
  }
  td {
    border: 1px solid black;
    text-align: center;
    &:nth-child(odd) {
      background-color: #EEE;
    }
  }
}
